* {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;

}

body {
    background-color: #222;
    padding: 0;
    border: 0;
    margin: 0;
    color: #ccc;
    font-family: monospace;
}

/* App Title */
.app-title {
    text-align: center;
}

.app-title img {
    width: 10%;
    margin-top: 3%;
}

/* Game Options */
.game-options {
    position: absolute;
    top: 19vw;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.play-card {
    width: 40%;
    height: 20vw;
    display: inline-block;
    border-radius: 12%;
    cursor: pointer;
    box-shadow: 0 0 0.5vw 0vw rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.9);
}

#play-friend {
    background-color: rgb(2, 172, 203)
}

#play-online {
    background-color: rgb(253, 66, 68)
}

/* Add Name */
.absolute {
    position: absolute;
    top: 19vw;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2vw;
    text-align: center;
    box-shadow: 0 0 0.5vw 0vw rgba(0, 0, 0, 1);
    background-color: rgba(2, 171, 203, 1);
    padding: 0.9vw;
    width: 23%;
}

.absolute .description {
    margin: 0.9vw 0 0 0.1vw;
    font-size: 1.9em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Jost', sans-serif;
}

.absolute .close-absolute {
    position: absolute;
    right: 20px;
    top: 10px;
    font-weight: bolder;
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.4);
    transform: scale(1.5, 1);
    cursor: pointer;

}

.absolute .close-absolute :hover {
    color: rgba(255, 255, 255, 0.9);
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.9);
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    min-width: 250px;
    font-size: 1.2em;
    font-family: 'Jost', sans-serif;
    font-size: 1.4em
}

.input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.button {
    background-color: rgb(253, 66, 68);
    color: #aaa;
    margin: 14px 0 0 10px;
    ;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Jost', sans-serif;
    font-size: 0.9em;
    font-weight: 500;
}

.button:hover {
    color: #eee;
    cursor: pointer;
    background-color: rgb(225, 43, 48);
}

/* Game Buttons */
.game-buttons {
    display: flex;
    margin: 15px auto;
    justify-content: center;
}

.game-buttons div {
    margin: auto 20px;
}

/* Main Conatiner */
.main-container {
    padding: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Score Board */
.score-board {
    width: 90px;
    height: 307px;
    margin: 2px;
}

.player-0 {
    border-radius: 40px 0 0 40px;
    background-color: rgb(2, 172, 203);
}

.player-1 {
    border-radius: 0 40px 40px 0;
    background-color: rgb(253, 66, 68);
}

.score-board .score-box {
    width: 80%;
    height: 29%;
    background-color: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    position: relative;
    top: 11vw;
}

.player-0 .score-box {
    box-shadow: inset -0.15vw 0vw 0.3vw 0.1vw rgba(0, 0, 0, 0.5);
    border-radius: 0 50% 50% 0;
    background-color: rgb(1, 131, 168);

}

.player-1 .score-box {
    left: 1.15vw;
    box-shadow: inset 0.15vw 0vw 0.3vw 0.1vw rgba(0, 0, 0, 0.5);
    border-radius: 50% 0 0 50%;
    background-color: rgb(230, 45, 46);

}

div.board {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cell:hover {
    background-color: #050505;
    cursor: pointer;
}

.row {
    display: flex;
}

.cell {
    height: 100px;
    width: 100px;
    margin: 2px;
    background-color: #111;
    color: #fff;
    font-size: 2.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    box-sizing: border-box;
}

/* Leaderboard */
div.leaderboard {
    background-color: #151515;
    padding: 8px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    width: 5px;
}

.leaderboard h3 {
    background-color: #050505;
    margin: 0px;
    padding: 10px;
}

.leaderboard > div:nth-child(2) {
    background-color: #111;
    display: flex;
}

.leaderboard > div:nth-child(2) span {
    font-size: 1.3em;
    font-weight: bolder;
}

.leaderboard div span {
    font-size: 1.1em;
    padding: 10px;
}

.list {
    overflow-y: scroll;
    height: 200px;
}

.list div {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid #444;
}

.leaderboard .list div span:nth-child(1) {
    text-align: left;
    width: 80%;
}

.leaderboard .list div span:nth-child(2) {
    text-align: right;
    width: 20%;
}

.blank {
    display: none;
}

.wrapper-ingame {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.inwrapper {
    display: inline-block;
    width: 50%;
    height: 100%;
}

.inwrapper h1 {
    font-size: 130px;
    font-weight: 500;
    position: absolute;
    top: 18vw;
    color: white;
}

.left {
    background-color: rgb(230, 45, 46)
}

.right {
    background-color: rgb(1, 131, 168)
}

.left h1 {
    min-width: 10px;
    top: 3%;
    transform: rotate(-90deg) translate(-50%, -50%);
}

.right h1 {
    min-width: 10px;
    top: 56%;
    right: -5%;
    transform: rotate(90deg) translate(-25%, -25%);
}